<a href="https://colab.research.google.com/github/bukhtiarhaider/CE888/blob/main/Lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [107]:
data = pd.read_csv('/content/drive/MyDrive/jester-data-1.csv')

data.drop(data.columns[0], axis=1, inplace=True)
data = data.replace(99, np.nan) #Replacing all '99's to np.nan
data.describe()

,-7.82,8.79,-9.66,-8.16,-7.52,-8.5,-9.85,4.17,-8.98,-4.76,...,2.82.2,99.18,99.19,99.20,99.21,99.22,-5.63,99.23,99.24,99.25
count,16451.000000,18183.000000,16641.000000,15607.000000,24976.000000,20430.000000,24975.000000,24980.000000,15751.000000,20323.000000,...,9671.000000,9889.000000,9988.000000,10200.000000,10265.000000,10370.000000,10519.000000,10666.000000,10910.000000,9943.000000
mean,0.905104,0.207988,0.317174,-1.448684,0.403874,1.594941,-0.429285,-0.624277,-0.556496,1.301529,...,2.038446,1.179744,2.504041,1.173482,1.039130,1.528003,1.674444,0.767692,-0.031244,1.354711
std,5.171508,5.597119,5.399415,5.234546,5.255566,4.900151,5.495717,4.929149,5.161952,5.087307,...,5.060701,5.127291,4.611339,5.140307,5.167043,4.852069,5.024810,5.393833,5.176806,5.300409
min,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,...,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000,-9.950000
25%,-2.670000,-4.420000,-4.030000,-5.870000,-3.690000,-1.310000,-5.290000,-4.610000,-4.760000,-2.090000,...,-0.945000,-2.380000,-0.100000,-2.280000,-2.570000,-1.347500,-1.170000,-3.400000,-4.170000,-2.330000
50%,1.600000,0.830000,0.780000,-1.460000,1.120000,2.230000,-0.050000,-0.290000,-0.190000,1.940000,...,2.860000,1.800000,3.160000,1.750000,1.650000,2.140000,2.480000,1.460000,0.290000,2.140000
75%,4.900000,4.810000,4.660000,2.520000,4.470000,5.440000,3.880000,3.060000,3.300000,5.390000,...,6.120000,5.290000,6.070000,5.290000,5.100000,5.277500,5.630000,5.150000,3.980000,5.730000
max,9.370000,9.370000,9.370000,9.370000,9.370000,9.470000,9.610000,9.760000,9.900000,9.370000,...,9.560000,9.420000,9.370000,9.420000,9.370000,9.370000,9.370000,9.370000,9.370000,9.370000